*
!index.html
!Dockerfile
!nginx.conf
!docker-entrypoint.sh
!css/
!js/
!BackgroundNRNG.webp
!ShellyNormal.webp
!ColtNormal.webp
!NitaNormal.webp
!PocoNormal.webp
!BarleyNormal.webp
!BullNormal.webp
!PrimoNormal.webp
!RosaNormal.webp
